/* Navbar estilo contrastante */
.navbar {

    background: linear-gradient(to right, #007bff, #7db7fa, #007bff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    /* Texto blanco */
}

.nav-item {
    font-size: larger;
}

.nav-item a {
    color: whitesmoke;
    font-weight: bold;
}

.navbar-nav .nav-link,
.navbar-text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}


/* Footer estilo contrastante */
.footer {
    background-color: #343a40;
    /* Color dark de Bootstrap */
    color: #fff;
    /* Texto blanco */
    padding: 40px 0;
}

.footer-custom a {
    color: #fff;
    /* Enlaces en texto blanco */
}

.login-out-text {
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.navbar-btn:hover {
    background-color: aquamarine;
    border-radius: 5px;
}

.navbar-btn a:hover {
    color: black;

}

.navbar-brand {
    padding: 1%;
}

.navbar-brand:hover i {
    color: black;
}

.navbar-btn:hover span, .navbar-btn:hover i{
    color: black;
}

.navbar i {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.user-name-text{
    font-size: larger;
    color:orange;
}

footer p {
    margin-bottom: 0.2%; /* Ajusta este valor según sea necesario */
}