{% extends 'common/base.html' %}

{% block main_content %}
<div class="container detail-container">
    <div class="row text-center mb-3">
        <div class="col-md-6">
            <div class="container d-flex flex-column"></div>
            <a class="btn btn-primary blog-btn" href="{% url 'post_list' %}">
                <i class="fas fa-arrow-left fa-2x"></i>
                <h5>Volver a lista de Post</h5>
            </a>
        </div>

        <div class="col-md-6">
            <h3 class="blog-title">Comentarios</h3>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>{{ post.titulo }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ post.contenido }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ post.autor }} | {{ post.fecha_publicacion }}</small>
                </div>
            </div>
            <hr>
            <h4 class="blog-title">Agregar un nuevo comentario</h4>
            <form method="post" action="{% url 'add_comment' post.id %}">
                {% csrf_token %}
                <div class="form-group">
                    {{form.contenido}}
                    {% if form.titulo.errors %}
                        <div class="error text-danger">{{ form.titulo.errors }}</div>
                    {% endif %}
                </div>
                <br>
                <div class="container text-center">
                    <button type="submit" class="btn btn-primary mb-2 blog-btn px-5">Enviar</button>
                </div>
                
            </form>
        </div>
        <div class="col-md-6">
            <div class="scrollable-div comment-container">
                {% for comment in post.comments.all %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p>{{ comment.contenido }}</p>
                        <small class="text-muted">{{ comment.autor.username }} | {{ comment.fecha_publicacion }}</small>
                    </div>
                </div>
                {% empty %}
                <p>No hay comentarios para este post.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}